.post-container{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.pagination-container{
    width: 550px;
    display: flex;
    justify-content: space-evenly;
}
.page-btn{
    background-color: black;
    padding: 1rem;
    color: white;
    border-radius: 10px;
}